# The host to run the API on.
HOST=127.0.0.1
# The port to run the API on.
PORT=8000

# The address to allow to reach out to the API.
CORS_ALLOW_ORIGIN=http://localhost:8080

# The database URL to connect to.
# Used to generate entities by SeaORM too.
DATABASE_URL=postgres://postgres:postgres@localhost:5432/example

# The Square API version.
# See https://developer.squareup.com/docs/build-basics/versioning-overview
SQUARE_API_VERSION=2026-08-19
# The Square API base url.
# See https://developer.squareup.com/reference/square
SQUARE_API_BASE_URL=https://connect.squareupsandbox.com/v2/
# The Square API access token.
# See https://developer.squareup.com/docs/build-basics/access-tokens
SQUARE_API_TOKEN=a-square-api-access-token
