# The Square API version.
# See https://developer.squareup.com/docs/build-basics/versioning-overview
SQUARE_API_VERSION=2026-08-19
# The Square API base url.
# See https://developer.squareup.com/reference/square
SQUARE_API_BASE_URL=https://connect.squareupsandbox.com/v2/
# The Square API access token.
# See https://developer.squareup.com/docs/build-basics/access-tokens
SQUARE_API_TOKEN=a-square-api-access-token
